api_platform:
    title: Hello API Platform
    version: 1.0.0
    defaults:
        stateless: true
        cache_headers:

           vary: ['Content-Type', 'Authorization', 'Origin']

    swagger:
        api_keys:
            JWT:
                name: Authorization
                type: header
    formats:
        jsonld: ["application/ld+json"]
        #jsonapi: ["application/vnd.api+json"]
        json: ["application/json"]
        #xml: ["application/xml", "text/xml"]
    use_symfony_listeners: true    
    enable_link_security: true