version: "3.9"

services:
  database:
    image: postgres:16
    container_name: taskflow_db
    restart: always
    environment:
      POSTGRES_DB: taskflow
      POSTGRES_USER: symfony
      POSTGRES_PASSWORD: secret
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

volumes:
  db-data:
